@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vazir.ttf") format("embedded-opentype"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.woff2") format("woff2");
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Vazir" !important;
}

/* Over Write */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 2 !important;
}

/* Utilities */
a {
  text-decoration: none;
}
.hover-grow {
  transition: all 0.5s;
}
.hover-grow:hover {
  transform: scale(1.1);
}

.preloader {
  background-color: #f1f2f3;
  /* height: 100vh; */
}
.preloader div {
  background: url("../images/gifs/preloader.gif") no-repeat center;
  height: 100vh;
  background-color: #f1f2f3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.content {
  background-color: #94b3fd;
  padding: 1rem;
  border-radius: 0px 10px 10px 0px;
}

/* Header */
#navbar {
  padding: 20px 0;
  z-index: 1;
}
.header-scrolled {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.075) !important;
  transition: all 0.5s;
}

@media (max-width: 992px) {
  #navbar {
    background-color: #fff;
  }
}

/* Intro */
#intro {
  height: 100vh;
  background: url("../images/intro-bg.png") top center no-repeat;
  background-size: cover;
}

/* About */
@media (max-width: 992px) {
  .content {
    border-radius: 10px;
  }
}

/* Counts */
.counts i {
  font-size: 42px;
}

.counts i.blue {
  color: #0984e3;
}
.counts i.red {
  color: #d63031;
}
.counts i.orange {
  color: #fdcb6e;
}
.counts i.green {
  color: #00b894;
}

/* Features */
.features i {
  font-size: 44px;
  color: #68e1fd;
}

/* Services */
.services .services-box {
  padding: 25px;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.services .services-box .icon {
  font-size: 44px;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
}

.services .services-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all 0.3s;
}
.services .services-box a i {
  font-size: 24px;
  line-height: 0;
  margin-right: 0.3rem;
  padding: 0;
}
.services .services-box a:hover {
  margin-right: 1rem;
}

/* Service Box Blue */
.services .services-box.blue {
  border-bottom: 3px solid #0984e3;
}

.services .services-box.blue .icon {
  color: #0984e3;
  background-color: #c7ecee;
}

.services .services-box.blue:hover {
  background-color: #c7ecee;
  color: #0984e3;
}

.services .services-box.blue:hover .icon {
  background-color: #0984e3;
  color: #c7ecee;
}

/* Service Box Orange */
.services .services-box.orange {
  border-bottom: 3px solid #f6b93b;
}

.services .services-box.orange .icon {
  color: #f6b93b;
  background-color: #f0e5c1;
}

.services .services-box.orange:hover {
  background-color: #f0e5c1;
  color: #f6b93b;
}

.services .services-box.orange:hover .icon {
  background-color: #f6b93b;
  color: #f0e5c1;
}

/* Service Box Green */
.services .services-box.green {
  border-bottom: 3px solid #33d9b2;
}

.services .services-box.green .icon {
  color: #33d9b2;
  background-color: #d4ebc4;
}

.services .services-box.green:hover {
  background-color: #d4ebc4;
  color: #33d9b2;
}

.services .services-box.green:hover .icon {
  background-color: #33d9b2;
  color: #d4ebc4;
}

/* Pricing */
.pricing .card {
  cursor: pointer;
  transition: all 0.3s;
}

.pricing .card:hover {
  transform: scale(1.1);
}

.pricing .card .blue {
  color: #4a69bd;
}

.pricing .card .orange {
  color: #fa983a;
}
.pricing .card .green {
  color: #10ac84;
}
.pricing .card .red {
  color: #e55039;
}

@media (max-width: 992px) {
  .pricing .card:hover {
    transform: none;
  }
}

/* Contact */
.contact .info-box {
  padding: 25px;
  background-color: #ecf0f1;
  border-radius: 10px;
  height: 100%;
}

.contact .info-box i {
  font-size: 45px;
  color: #4a69bd;
  line-height: 0;
}

.contact .info-box .celphone {
  direction: ltr;
  text-align: right;
}

.contact .contact-form {
  padding: 25px;
  background-color: #ecf0f1;
  border-radius: 10px;
  height: 100%;
}

/* Footer */

footer {
  margin-top: 10rem !important;
}

.footer-social .social-links i {
  font-size: 24px;
  color: #a4ddec;
  transition: all 0.3s;
}

.footer-social .social-links i:hover {
  color: #57bcd8;
}

footer .footer-links hr {
  width: 70%;
  height: 5px;
  background-color: #0984e3;
  line-height: 0;
}

footer .footer-links ul li a {
  line-height: 1.8rem;
  color: #000;
  transition: all 0.3s;
}

footer .footer-links ul li a:hover {
  margin-right: 1rem;
}

footer .end-footer {
  background-color: #cbdce0;
  padding: 20px;
}

/* Login Page */
.login-banner {
  margin-top: 8rem;
  background: url("../images/patterns/login-banner.png");
  background-color: #cbdce0;
  /* background: url(../images/patterns/banner.png),
    linear-gradient(rgba(15, 188, 219, 0.432) 30%, rgba(4, 160, 108, 0.699) 70%); */
  width: 100%;
  height: 150px;
}

.login .main-login {
  background-color: #ecf0f1;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  margin-top: 7rem;
  margin-bottom: 15rem;
  border-top: 3px solid #663399;
  border-bottom: 3px solid #663399;
  transition: all 0.3s;
}

.login .main-login:hover {
  border-bottom: 3px solid #fa983a;
  border-top: 3px solid #fa983a;
}

.login .main-login form {
  width: 100%;
}

.login .main-login form .form-control {
  border-right: 3px solid #663399;
  transition: all 0.3s;
}

.login .main-login form .form-control:hover {
  border-right: 3px solid #fa983a;
}

.login .main-login form .form-control:focus {
  border-right: 3px solid #fa983a;
}

.login .main-login .title i {
  font-size: 30px;
  line-height: 0;
  color: #0984e3;
}

.login .main-login form .btn-primary{
  background-color: #0984e3;
  border: none;
  transition: all 0.3s;
}

.login .main-login form .btn-primary:hover{
  background-color: #16a085;
  border: none;
}

/* Register Page */
.register-banner {
  margin-top: 8rem;
  background: url("../images/patterns/register-banner.png");
  background-color: #cbdce0;
  /* background: url(../images/patterns/banner.png),
    linear-gradient(rgba(15, 188, 219, 0.432) 30%, rgba(4, 160, 108, 0.699) 70%); */
  width: 100%;
  height: 150px;
}

.register .main-register {
  background-color: #ecf0f1;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  margin-top: 7rem;
  margin-bottom: 15rem;
  border-top: 3px solid #663399;
  border-bottom: 3px solid #663399;
  transition: all 0.3s;
}

.register .main-register:hover {
  border-bottom: 3px solid #fa983a;
  border-top: 3px solid #fa983a;
}

.register .main-register form {
  width: 100%;
}

.register .main-register form .form-control {
  border-right: 3px solid #663399;
  transition: all 0.3s;
}

.register .main-register form .form-control:hover {
  border-right: 3px solid #fa983a;
}

.register .main-register form .form-control:focus {
  border-right: 3px solid #fa983a;
}

.register .main-register .title i {
  font-size: 30px;
  line-height: 0;
  color: #0984e3;
}

.register .main-register form .btn-primary{
  background-color: #0984e3;
  border: none;
  transition: all 0.3s;
}

.register .main-register form .btn-primary:hover{
  background-color: #16a085;
  border: none;
}


/* About */
.about{
  margin-top: 10rem;
}

.about .about-description{
  padding: 10px;
}

.about .about-description i{
  font-size: 35px;
  background-color: #00b894;
  padding: 1rem;
  height: fit-content;
  border-radius: 10px;
  color: #fff;
}